<div class="modal-header">
    <h5 *ngIf="user_role != null">Edit User Role</h5>
    <button type="submit" (click)="close()" data-bs-dismiss="close" aria-label="close" style="background: transparent; border: none;"><i class="fa-solid fa-xmark"></i></button>
</div>
<div class="modal-body">
    <div class="form">
        <form class="row g-3">
            <div class="col-md-6">
              <div class="form-group">
                <label for="inputname" class="form-label">Role Name</label>
                <input [(ngModel)]="user_role.name" type="name" name="name" class="form-control">
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="inputstatus" class="form-label">Status</label>
                <select [(ngModel)]="user_role.status" name="status" class="form-select">
                  <option value="0">Inactive</option>
                  <option value="1">Active</option>
                </select>
              </div>
            </div>
          </form>
    </div>

</div>

<div class="modal-footer">
    <button *ngIf="user_role !=null" (click)="update()" class="btn btn-primary" type="button" style="background: #be1b1e; border: none;">UPDATE</button>
</div>
