<div class="modal-header">
    <h5 *ngIf="assign !=null">Edit Assign</h5>
    <button type="submit" (click)="close()" data-bs-dismiss="close" aria-label="close" style="background: transparent; border: none;"><i class="fa-solid fa-xmark"></i></button>
</div>
<div class="modal-body">
    <div class="form">
        <form class="row" (ngSubmit)="onSubmit()">
          <div class="col-md-6">
            <div class="form-group">
              <label for="inputrole" class="form-label">Restaurant</label>
              <select name="name" class="form-select" [(ngModel)]="assign.restaurant">
                <option *ngFor="let restaurant of restaurants">{{restaurant.name}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-6"></div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="inputname" class="form-label">Name</label>
              <input type="name" class="form-control" name="name" [(ngModel)]="name">
            </div>
          </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="inputrole" class="form-label">Auditor</label>
                <select name="auditor" class="form-select">
                  <option>{{assign.auditor}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="inputrole" class="form-label">Service</label>
                <input name="service" class="form-control" [(ngModel)]="assign.service">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="inputdatetime" class="form-label">Assign Date Time</label>
                <input class="form-control" name="ass_dt" [(ngModel)]="assign.ass_dt">
              </div>
            </div>

            <!-- <div class="col-md-6">
              <div class="form-group">
                <label for="inputdatetime" class="form-label">Added Date Time</label>
                <input class="form-control" name="added_dt" [(ngModel)]="assign.added_dt">
              </div>
          </div> -->
          <div class="col-md-6">
            <div class="form-group">
              <label for="inputstatus" class="form-label">Status</label>
              <select name="status" class="form-select" [(ngModel)]="status">
                <option value="0">Inactive</option>
                <option value="1">Active</option>
              </select>
            </div>
          </div>
        </form>
    </div>

</div>





<div class="modal-footer">
    <button *ngIf="assign !=null" (click)="update()" class="btn btn-primary" type="button" style="background: #be1b1e; border: none;">UPDATE</button>
</div>
