<div class="modal-header">
    <h5 *ngIf="listitem != null">Edit Checklist </h5>
    <button type="submit" (click)="close()" data-bs-dismiss="close" aria-label="close" style="background: transparent; border: none;"><i class="fa-solid fa-xmark"></i></button>
</div>
<div class="modal-body">
    <div class="form">
        <form class="row g-3">
            <div class="col-md-6">
              <div class="form-group">
                <label for="inputname" class="form-label">Name</label>
                <input [(ngModel)]="name" type="name" class="form-control" name="name">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="inputitems" class="form-label">Items</label>
                <input [(ngModel)]="items" name="items" class="form-control">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="inputstatus" class="form-label">Status</label>
                <select [(ngModel)]="status" id="inputstatus" class="form-select">
                  <option value="0">InActive</option>
                  <option value="1">Active</option>
                </select>
              </div>
            </div>
        </form>
    </div>

</div>

<div class="modal-footer">
    <button *ngIf="listitem != null" (click)="update()" class="btn btn-primary" type="submit" style="background: #be1b1e; border: none;">UPDATE</button>
</div>
