<div class="modal-header">
  <h5 *ngIf="listitem == null">Edit Checklist</h5>
  <button type="submit" (click)="close()" data-bs-dismiss="close" aria-label="close" style="background: transparent; border: none;"><i class="fa-solid fa-xmark"></i></button>
</div>
<div class="modal-body">
  <div class="form">
      <form class="row g-3">
          <div class="col-md-12">
            <div class="form-group">
              <label for="inputname" class="form-label">Name</label>
              <input [(ngModel)]="name" type="name" class="form-control" name="name" placeholder="Enter Service name">
            </div>
          </div>
          <div class="col-md-12">
              <button type="button" (click)="addInput()" class="btn btn-primary" style="margin-left: 20px;">+ Add</button> 
          </div>

          <div class="col-md-12">
            <!-- *ngFor="let list of checklist; let i = index;" -->
              <div class="row" *ngFor="let list of checklist; let i = index;">
                  <div class="col-md-4">
                      <div>
                          <label for="items" class="form-label">Items {{(i+1)}}</label>
                          <input class="form-control" [(ngModel)]="name" placeholder="Enter Items">
                      </div>
                  </div>
                  <div class="col-md-4">
                      <label for="formFile" class="form-label">Attachment</label>
                      <input class="form-control" type="checkbox" [(ngModel)]="attachment">
                  </div>
                  <div class="col-md-4">
                      <label for="formFile" class="form-label">Status</label>
                      <select class="form-control" [(ngModel)]="listitem.status">
                          <option value="1">Active</option>
                          <option value="0">Deactive</option>
                      </select>
                  </div>
                  <div class="col-md-3">
                      <button type="button" (click)="removeInput(i)" class="btn btn-danger" style="margin-top: 30px; background: #be1b1e;">Delete</button>
                  </div>
              </div>
          </div>
        </form>
  </div>

</div>

<div class="modal-footer">
  <button *ngIf="listitem == null" (click)="update()" class="btn btn-primary" type="submit" style="background: #be1b1e; border: none;">Update</button>
</div>












<!-- <div class="modal-header">
    <h5 *ngIf="listitem != null">Edit Checklist </h5>
    <button type="submit" (click)="close()" data-bs-dismiss="close" aria-label="close" style="background: transparent; border: none;"><i class="fa-solid fa-xmark"></i></button>
</div>
<div class="modal-body">
    <div class="form">
        <form class="row g-3">
            <div class="col-md-6">
              <div class="form-group">
                <label for="inputname" class="form-label">Name</label>
                <input [(ngModel)]="name" type="name" class="form-control" name="name">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="inputitems" class="form-label">Items</label>
                <input [(ngModel)]="items" name="items" class="form-control">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="formFile" class="form-label">Attachment</label>
                <input class="form-control" type="file" id="formFile">
              </div>
          </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="inputstatus" class="form-label">Status</label>
                <select [(ngModel)]="status" (ngModelChange)="OnStatuschange()" name="status" class="form-select">
                  <option value="0">InActive</option>
                  <option value="1">Active</option>
                </select>
              </div>
            </div>
        </form>
    </div>

</div>

<div class="modal-footer">
    <button *ngIf="listitem != null" (click)="update()" class="btn btn-primary" type="submit" style="background: #be1b1e; border: none;">UPDATE</button>
</div> -->
