<div class="modal-header">
    <h5 *ngIf="assign == null">Add Assign</h5>
    <h5 *ngIf="assign !=null">Edit Assign</h5>
    <button type="button" (click)="close()" data-bs-dismiss="close" aria-label="close" style="background: transparent; border: none;"><i class="fa-solid fa-xmark"></i></button>
</div>

<div class="modal-body">
    <div class="form">
        <form class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="inputrestaurant" class="form-label">Restaurant</label>
              <select name="restaurant" id="restaurant" class="form-select" [(ngModel)]="restaurant">
                <option value="">Choose Restaurant</option>
                <option *ngFor="let restaurant of restaurants" [value]="restaurant.id">{{restaurant.id != restaurant}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-6"></div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="inputname" class="form-label">Name</label>
              <input name="name" id="name" class="form-control" [(ngModel)]="name" placeholder="Enter name">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="inputauditor" class="form-label">Auditor</label>
              <select class="form-select" id="auditor" name="auditor" [(ngModel)]="auditor">
                <option value="">Select Auditor</option>
                <option *ngFor="let User of userdetail" [value]="User.name">{{User.name}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="inputrole" class="form-label">Service</label>
                <select name="service" id="service" class="form-select" [(ngModel)]="service">
                  <option value="">Select Service</option>
                  <option *ngFor="let list of checklist" [value]="list.name">{{list.name}}</option>
                </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="inputdatetime" class="form-label">Audit Date Time</label>
              <input type="datetime-local" value="date" id="ass_dt" class="form-control" name="date" [(ngModel)]="ass_DT">
            </div>
          </div>
          <div class="col-md-6">
            <div *ngIf="assign != null">
              <div class="form-group">
                <label for="inputstatus" class="form-label">Status</label>
                <select name="status" class="form-select" [(ngModel)]="status">
                  <option value="0">Cancle</option>
                  <option value="1">Completed</option>
                </select>
              </div>
            </div>
          </div>
        </form>
    </div>

</div>

<div class="modal-footer">
    <button *ngIf="assign == null" (click)="add()" class="btn btn-primary"  type="submit" style="background: #be1b1e; border: none;">SUBMIT</button>
    <button *ngIf="assign != null" (click)="update()" class="btn btn-primary" type="submit" style="background: #be1b1e; border: none;">UPDATE</button>
  </div>
