<div class="modal-header">
    <h5 *ngIf="details == null">Add User</h5>
    <h5 *ngIf="details != null">Edit User</h5>
    <button type="submit" (click)="close()" data-bs-dismiss="close" aria-label="close" style="background: transparent; border: none;"><i class="fa-solid fa-xmark"></i></button>
</div>
<div class="modal-body">
    <div class="form">
        <form class="row" #userForm="ngForm">
          <div class="col-md-6">
            <div class="form-group">
              <label for="inputrestaurant" class="form-label">Restaurant</label>
              <select name="restaurant" class="form-select" [(ngModel)]="restaurant">
                <option value="">Choose Restaurant</option>
                <option *ngFor="let restaurant of restaurants" [value]="restaurant.name">{{restaurant.name}}</option>
              </select>
            </div>
          </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="inputname" class="form-label">Name</label>
                <input [(ngModel)]="name" id="name" name="name" class="form-control" placeholder="Enter user name"/>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="inputemail" class="form-label">Email</label>
                <input [(ngModel)]="email" id="email" name="email" class="form-control" required email placeholder="Enter user email"/>
                <!-- <div *ngIf="emailField.invalid && (emailField.dirty || emailField.touched)">
                  <div *ngIf="emailField.errors?.required">Email is required.</div>
                  <div *ngIf="emailField.errors?.email">Invalid email format.</div>
                </div>  -->
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="inputphone" class="form-label">Phone</label>
                <input type="phone" id="phone" [(ngModel)]="phone" name="phone" class="form-control" pattern="^(\+\d{1,3}[- ]?)?\d{10}$" required placeholder="Enter phone number"/>
                <!-- <div *ngIf="phone.invalid && (phone.dirty || phone.touched)">
                  <div *ngIf="phone.errors?.required">Phone number is required.</div>
                  <div *ngIf="phone.errors?.pattern">Invalid phone number format.</div>
                </div> -->
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="inputrole" class="form-label">Role</label>
                <select [(ngModel)]="role" id="role" name="role" class="form-select">
                  <option value="">Select Role</option>
                  <option *ngFor="let userdetails of userRoles" [value]="userdetails.name">{{userdetails.name}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="inputpass" class="form-label">Password</label>
                <input [(ngModel)]="password" id="password" type="password" name="password" (ngModelChange)="checkPasswords()" class="form-control" placeholder="Enter password" required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="inputcpass" class="form-label">Confirm Password</label>
                <input [(ngModel)]="Cpass" type="password" id="Cpass" name="Cpass" (ngModelChange)="checkPasswords()" class="form-control" placeholder="Enter Confirm password" required>
                <div *ngIf="!passwordMatch && Cpass">
                  <p style="color: red; font-size: 12px;">Passwords do not match.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="inputstatus" class="form-label">Status</label>
                <select [(ngModel)]="status" name="status" id="status" class="form-select">
                  <option value="0">InActive</option>
                  <option value="1">Active</option>
                </select>
              </div>
            </div>
          </form>
    </div>

</div>

<div class="modal-footer">
  <button *ngIf="details == null" (click)="add()" class="btn btn-primary" [disabled]="userForm.invalid" type="submit" style="background: #be1b1e; border: none;">SUBMIT</button>
  <button *ngIf="details != null" (click)="update()" class="btn btn-primary" type="submit" style="background: #be1b1e; border: none;">UPDATE</button>
</div>
