.header{
    position: relative;
    top: -80px;
    background: linear-gradient(87deg, #f5365c 0, #f56036 100%) !important;

}

.container-fluid{
    .card{
        margin-top: -16rem;

        .card-header{

            .card-title{
                font-size: 1.57em;
                // font-family: 'Montserrat, Helvetica Neue, Arial, sans-serif';
                font-weight: 400;
                color: #252422;
            }
        }
    }
}