<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">

        </div>
    </div>
</div>

<div class="container-fluid mt--7">
    <div class="card">
        <div class="card-header p-0">
            <div style="display: flex">
                <p (click)="addUser()" style="cursor: pointer; font-weight: 500; margin: 0 0 0 auto;">+ Add</p>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                        <label>Restaurant</label>
                        <select class="form-control" style="padding: 0px;height: 43px;" [(ngModel)]="outlet">
                          <option value="-1">All</option>
                          <option *ngFor="let restaurant of restaurants" [value]="restaurant.name">{{restaurant.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                        <label for="search">Search</label>
                        <input type="text" [(ngModel)]="searchTerm" placeholder="Search Users..." (ngModelChange)="applyFilters()" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table table-responsive">
                <table class="table table-flush">
                    <thead class="thead-light">
                        <tr>
                            <th (click)="sort('id')">Emp Id &nbsp;<i style="cursor: pointer;" class="fa fa-sort"></i></th>
                            <th (click)="sort('name')">Name &nbsp;<i style="cursor: pointer;" class="fa fa-sort"></i></th>
                            <th (click)="sort('email')">Email &nbsp;<i style="cursor: pointer;" class="fa fa-sort"></i></th>
                            <th (click)="sort('phone')">Phone &nbsp;<i style="cursor: pointer;" class="fa fa-sort"></i></th>
                            <th (click)="sort('roletype')">Role &nbsp;<i style="cursor: pointer;" class="fa fa-sort"></i></th>
                            <th (click)="sort('status')">Status &nbsp;<i style="cursor: pointer;" class="fa fa-sort"></i></th>
                            <th (click)="sort('added_on')">Added On &nbsp;<i style="cursor: pointer;" class="fa fa-sort"></i></th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                       <tr *ngFor="let User of userdetail of filteredData">
                            
                            <td *ngIf="outlet==User.restaurant">{{User.id}}</td>
                            <td  *ngIf="outlet==User.restaurant">{{User.name}}</td>
                            <td  *ngIf="outlet==User.restaurant">{{User.email}}</td>
                            <td  *ngIf="outlet==User.restaurant">{{User.phone}}</td>
                            <td  *ngIf="outlet==User.restaurant">{{User.role}}</td>
                            <td *ngIf="User.status == 0 && outlet==User.restaurant">Inactive</td>
                            <td *ngIf="User.status == 1 && outlet==User.restaurant">Active</td>
                            <td  *ngIf="outlet==User.restaurant">{{User.created_DT}}</td>
                            <td class="text-right"  *ngIf="outlet==User.restaurant">
                                <div style="display: flex">
                                    <p (click)="updateUser(User)" class="text-success action"
                                    style="margin-left: 10px;"><i class="fa fa-edit" style="cursor: pointer;"></i></p>
                                </div>
                            </td>
                        
                        </tr>
                        
                    </tbody>
                </table>
                <div class="has-text-centered">
                    <!-- <pagination-controls (pageChange)="page = $event"></pagination-controls> -->
                </div>
            </div>
        </div>
        
    </div>
</div>


















