<div class="modal-header">
    <h5 *ngIf="viewaudit !=null">View Audit</h5>
    <button type="button" (click)="close()" data-bs-dismiss="close" aria-label="close" style="background: transparent; border: none;"><i class="fa-solid fa-xmark"></i></button>
</div>

<div class="modal-body">
    <div class="form">
        <form class="row" #userForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="col-md-6">
                <div class="form-group">
                <label for="inputname" class="form-label">Audit Name</label>
                <input name="name" class="form-control"[(ngModel)]="name">
                </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="inputrole" class="form-label">Shift Manager</label>
                <input type="name" class="form-control" name="shift_manager" [(ngModel)]="shift_manager">
              </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                  <label for="inputdatetime" class="form-label">Audit DT</label>
                  <input type="datetime" class="form-control" name="audit_dt" [(ngModel)]="audit_dt">
                </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="inputrole" class="form-label">Restaurant Manager</label>
                <input name="service" [(ngModel)]="resturant_manager" class="form-control">
              </div>
            </div>
            <!-- <div class="col-md-6">
                <div class="form-group">
                  <label for="inputrole" class="form-label">Checklist Name</label>
                  <input type="name" name="checklist_item" class="form-control" [(ngModel)]="viewaudit.checklist_item">
                </div>
            </div>
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="inputstatus" class="form-label">attachment_path</label>
                    <input class="form-control" name="attach_path">
                </div>
            </div> -->
        </form>
    </div>

    <div class="table table-responsive">
      <table class="table table-flush">
        <thead class="thead-light">
          <th>Checklist Item</th>
          <th>Attachment</th>
          <th>Action</th>
        </thead>
        <tbody>
          <tr *ngFor="let audit of audits">
            <td>{{audit.checklist_item}}</td>
            <td>{{audit.attachment_path}}
              <div class="mb-3">
                <!-- <label for="formFile" class="form-label">Default file input example</label> -->
                <input class="form-control" type="file" id="formFile">
              </div>
            </td>
            <td>
              <input type="checkbox" class="form-control" style="height: 25px; margin-top: 8px;">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>

<div class="modal-footer">
    <button   *ngIf="viewaudit !=null" (click)="add()" class="btn btn-primary"  type="button" style="background: #be1b1e; border: none;">Save</button>
  </div>
