<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <!-- Card stats -->

        </div>
    </div>
</div>

<div class="container-fluid mt--7">

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header p-0">
                    <div style="display: flex">
                        <!-- <h4 class="card-title" style="flex-grow: 1"> Crust</h4> -->
                        <p (click)="addchecklist()" style="cursor: pointer; font-weight: 500; margin: 0 0 0 auto;">+ Add</p>
                    </div>
                    <div class="form">
                        <form class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputservice" class="form-label">Service</label>
                                    <select class="form-select"  [(ngModel)]="Service" name="selectedService" (ngModelChange)="onServiceChange()">
                                        <option *ngFor="let list of checklist" [value]="list.name">{{list.status !=0 ? list.name:''}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="">
                                    <button type="button" (click)="editchecklist()" style="background: #be1b1e;" class="btn btn-primary">Edit</button>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <h1>Check List</h1>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table table-responsive">
                        <table class="table table-flush">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Status</th>
                                    <th>Attachment</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <div *ngFor="let list of checklist">
                                        <div *ngIf="Service == list.name">
                                            <tr *ngFor="let item of list.items" style="display: flex; justify-content: space-between;">
                                                <td>
                                                    {{item.name}} 
                                                </td>
                                                <td *ngIf="item.status == 0">Inactive</td>
                                                <td *ngIf="item.status == 1">Active</td>
                                                <td>
                                                    {{item.attachment}}
                                                </td>
                                            </tr>
                                        </div>
                                    </div>
                                </tr>
                                <!-- <div *ngFor="let list of checklist">
                                <div *ngIf="Service == list.name">
                                        <tr *ngFor="let item of list.items">
                                            <td>{{item.name}}</td>
                                            <td *ngIf="item.status == 0">Inactive</td>
                                            <td *ngIf="item.status == 1">Active</td>
                                            <td>{{item.attachment}}</td>
                                        </tr>
                                    </div>
                                </div> -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>













<!-- <form class="row">
                            <div class="col-md-11">
                                <div class="form-group">
                                    <div *ngFor="let list of checklist">
                                        <div *ngIf="Service == list.name">
                                            <ul>
                                                <li *ngFor="let item of list.items" style="display: flex; justify-content: space-between;">
                                                    <div>
                                                        {{item.name}} 
                                                    </div>
                                                    <div style="display: flex; justify-content: space-between;">
                                                        <div class="col-md-3">
                                                            <div class="form-group" style="display: flex;">
                                                                <label for="inputscore" class="form-label">Attachement:</label>
                                                                <img src="" />
                                                                <input type="checkbox" class="form-control" style="height: 25px; width: 50px;">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <p><i class="fa fa-edit" (click)="updatechecklist(list)" style="color: #be1b1e; border: none; cursor: pointer;"></i></p>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form> -->