.header{
    position: relative;
    top: -80px;
    background: linear-gradient(87deg, #f5365c 0, #f56036 100%) !important;

}

.container-fluid .card{
    margin-top: -10rem;

    .card-header {
        .nav-link.active{
            color: #be1b1e;
            background-color: lightgray;
        }

        .row .form-group{
            select{
                width: -webkit-fill-available;
                height: 43px;
                color: #454545;
                border-radius: 5px;
                border: 1px solid #cad1d7;
            }
        }
        .row h1{
            font-size: 1.3rem;
            font-weight: 400;
            color: #252429;
        }
    }

}