<div class="modal-header">
    <h5 *ngIf="restaurant != null">Edit Restaurant</h5>
    <!-- <h5 *ngIf="restaurant == null">Add User</h5> -->
      <button type="submit" (click)="close()" data-bs-dismiss="close" aria-label="close" style="background: transparent; border: none;"><i class="fa-solid fa-xmark"></i></button>
  </div>
  <div class="modal-body">
      <div class="form">
          <form class="row" #userForm="ngForm" (ngSubmit)="onSubmit()">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="inputname">Name</label>
                  <input [(ngModel)]="restaurant.name" type="text" name="name" class="form-control">
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="inputstatus">Status</label>
                  <select [(ngModel)]="restaurant.status" name="status" class="form-control">
                    <option value="0">InActive</option>
                    <option value="1">Active</option>
                  </select>
                </div>
              </div>
            </form>
      </div>
  </div>
  
  <div class="modal-footer">
    <!-- <button *ngIf="restaurant == null" (click)="add()" class="btn btn-primary" type="button" style="background: #be1b1e; border: none;">SUBMIT</button> -->
    <button *ngIf="restaurant != null" (click)="update()" class="btn btn-primary" type="submit" style="background: #be1b1e; border: none;">UPDATE</button>
  </div>
  
