.header{
    position: relative;
    top: -80px;
    background: linear-gradient(87deg, #f5365c 0, #f56036 100%) !important;

}

.container-fluid .card{
    margin-top: -10rem;
    padding: 16px;

    .card-header {
        .nav-link.active{
            color: #be1b1e;
            background-color: lightgray;
        }
        .nav-link{
            cursor: pointer;
        }
    }
}