<div class="modal-header">
  <h5 *ngIf="details != null">Edit User</h5>
  <!-- <h5 *ngIf="details == null">Add User</h5> -->
    <button type="submit" (click)="close()" data-bs-dismiss="close" aria-label="close" style="background: transparent; border: none;"><i class="fa-solid fa-xmark"></i></button>
</div>
<div class="modal-body">
    <div class="form">
        <form class="row" #userForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="col-md-6">
              <div class="form-group">
                <label for="inputname">Name</label>
                <input [(ngModel)]="details.name" type="text" name="name" class="form-control">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="inputemail">Email</label>
                <input [(ngModel)]="details.email" type="text" name="email" class="form-control">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="inputphone">Phone</label>
                <input [(ngModel)]="details.phone" type="phone" name="phone" class="form-control" placeholder="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="inputrole">Role</label>
                <select name="role" class="form-control">
                  <option>{{details.role}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="inputpass">Password</label>
                <input [(ngModel)]="details.password" type="password" name="password" class="form-control" placeholder="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="inputcpass">Confirm Password</label>
                <input [(ngModel)]="details.Cpass" type="Cpass" name="Cpass" class="form-control" placeholder="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="inputstatus">Status</label>
                <select [(ngModel)]="details.status" name="status" class="form-control">
                  <option value="0">InActive</option>
                  <option value="1">Active</option>
                </select>
              </div>
            </div>
          </form>
    </div>
</div>

<div class="modal-footer">
  <!-- <button *ngIf="details == null" (click)="add()" class="btn btn-primary" type="button" style="background: #be1b1e; border: none;">SUBMIT</button> -->
  <button *ngIf="details != null" (click)="update()" class="btn btn-primary" type="submit" style="background: #be1b1e; border: none;">UPDATE</button>
</div>
