

<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
   
    <div class="container-fluid">
        <div class="header-body">
            <!-- Card stats -->

        </div>
    </div>
</div>


<div class="container-fluid mt--7">
    <diV class="row">
        <div class="col-md-12">
            <div class="card" >   
                <div class="card-header p-4">
                    <div style="display: flex">
                        <p (click)="addrestaurant()" style="cursor: pointer; font-weight: 500; margin: 0 0 0 auto;">+ Add</p>
                    </div>
                </div>
                <div class="table table-responsive">
                    <table class="table table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th (click)="sort('name')">Name &nbsp;<i style="cursor: pointer;" class="fa fa-sort"></i></th>
                             
                                <th (click)="sort('status')">Status &nbsp;<i style="cursor: pointer;" class="fa fa-sort"></i></th>

                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let restaurant of restaurants.slice((currentPage - 1) * itemsPerPage, currentPage * itemsPerPage)">
                                <td>{{restaurant.name}}</td>
                                <td *ngIf="restaurant.status == 0">Inactive</td>
                                <td *ngIf="restaurant.status == 1">Active</td>
                                
                                <td class="text-right">
                                    <div style="display: flex">
                                        <p (click)="updaterestaurant(restaurant)" class="text-success action"
                                        style="margin-left: 10px;"><i class="fa fa-edit" style="cursor: pointer;"></i></p>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                          <li class="page-item" [class.disabled]="currentPage === 1">
                            <a class="page-link" (click)="changePage(currentPage - 1)" tabindex="-1">
                              <i class="fa fa-angle-left"></i>
                              <span class="sr-only">Previous</span>
                            </a>
                          </li>
                          <li class="page-item" *ngFor="let page of getPages()" [class.active]="page === currentPage">
                            <a style="cursor: pointer;" class="page-link" (click)="changePage(page)">{{page}}</a>
                          </li>
                          <li class="page-item" [class.disabled]="currentPage === getTotalPages()">
                            <a class="page-link" (click)="changePage(currentPage + 1)">
                              <i class="fa fa-angle-right"></i>
                              <span class="sr-only">Next</span>
                            </a>
                          </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </diV>
</div>