<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <!-- Card stats -->

        </div>
    </div>
</div>

<div class="container-fluid mt--7">

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header p-4">
                    <div style="display: flex">
                        <p (click)="addrole()" style="cursor: pointer; font-weight: 500; margin: 0 0 0 auto;">+ Add Role</p>
                    </div>
                </div>
                <div class="table table-responsive">
                    <table class="table table-flush">
                        <thead class="thead-light">
                            <th>Role <i style="margin-left: 5px; cursor: pointer;" class="fa fa-sort"></i></th>
                            <th>Total Users <i style="margin-left: 5px; cursor: pointer;" class="fa fa-sort"></i></th>
                            <th>Status <i style="margin-left: 5px; cursor: pointer;" class="fa fa-sort"></i></th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            <tr *ngFor=" let userdetails of userRoles">
                                <td>{{userdetails.name}}</td>
                                <td>{{ getUserCountByRole(userdetails.name) }}</td>
                                <td *ngIf="userdetails.status == 1">Active</td>
                                <td *ngIf="userdetails.status == 0">Inactive</td>
                                <td class="text-right">
                                    <div style="display: flex">
                                        <p (click)="updaterole(userdetails)" class="text-success action"
                                        style="margin-left: 10px;"><i class="fa fa-edit" style="cursor: pointer;"></i></p>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>