<div class="modal-header">
    <h5 *ngIf="auditdetail == null">Add Audit</h5>
    <button type="button" (click)="close()" data-bs-dismiss="close" aria-label="close" style="background: transparent; border: none;"><i class="fa-solid fa-xmark"></i></button>
</div>

<div class="modal-body">
    <div class="form">
        <form class="row">
            <div class="col-md-6">
                <div class="form-group">
                <label for="inputname" class="form-label">Audit Name</label>
                <input name="name" class="form-control"[(ngModel)]="name">
                </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="inputrole" class="form-label">Shift Manager</label>
                <select type="name" class="form-select" name="shift_manager" [(ngModel)]="shift_manager">
                  <option *ngFor="let User of userdetail">{{User.role}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                  <label for="inputdatetime" class="form-label">Audit Date Time</label>
                  <input type="datetime-local" class="form-control" name="audit_dt" [(ngModel)]="audit_dt">
                </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="input" class="form-label">Restaurant Manager</label>
                <select name="restaurant_manager" [(ngModel)]="restaurant_manager">
                  <option *ngFor="let User of userdetail">{{User.name}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                  <label for="inputrole" class="form-label">Checklist Name</label>
                  <select name="name" [(ngModel)]="checklist_item">
                    <option value="-1" *ngFor="let list of checklist"  [value]="list.name">{{list.name}}</option>
                  </select>
                </div>
            </div>
            <!-- <div class="col-md-6"></div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="inputstatus" class="form-label">attachment_path</label>
                    <input class="form-control" name="attach_path">
                </div>
            </div> -->
        </form>
    </div>
</div>

<div class="modal-footer">
    <button  *ngIf="auditdetail == null" (click)="add()" class="btn btn-primary"  type="submit" style="background: #be1b1e; border: none;">SUBMIT</button>
  </div>
