<div class="modal-header">
    <h5 *ngIf="listitem == null">Add Checklist</h5>
    <h5 *ngIf="listitem != null">Edit Checklist</h5>
    <button type="submit" (click)="close()" data-bs-dismiss="close" aria-label="close" style="background: transparent; border: none;"><i class="fa-solid fa-xmark"></i></button>
</div>
<div class="modal-body">
    <div class="form">
        <form class="row g-3">
            <div class="col-md-12">
              <div class="form-group">
                <label for="inputname" class="form-label">Name</label>
                <input [(ngModel)]="name" type="name" class="form-control" name="name" placeholder="Enter Service name">
              </div>
            </div>
            <div class="col-md-12">
                <button type="button" (click)="addInput()" class="btn btn-primary" style="margin-left: 20px;">+ Add</button> 
            </div>

            <div class="col-md-12">
                <h2 style="margin-top: 10px;">Checklist Items</h2>
            </div>

            <div class="col-md-12">
                <div class="row" *ngFor="let list of checklist; let i = index;">
                    <div class="col-md-4">
                        <div>
                            <label for="items" class="form-label">Items {{(i+1)}}</label>
                            <input class="form-control" [(ngModel)]="list.name" name="items{{i}}" placeholder="Enter Items">
                        </div>
                    </div>
                    <div class="col-md-1">
                        <label for="formFile" class="form-label">Attachment</label>
                        <input class="form-control" name="checkbox" type="checkbox" [(ngModel)]="list.attachment" style="width: 20px;">
                    </div>
                    <div class="col-md-4">
                        <label for="formFile" class="form-label">Status</label>
                        <select class="form-control" name="status" id="status" [(ngModel)]="list.status">
                            <option value="1">Active</option>
                            <option value="0">Inactive</option>
                        </select>
                    </div>
                    <div class="col-md-1">
                        <label for="score" class="form-label">Score</label>
                        <input class="form-control" name="score" type="score" [(ngModel)]="list.score" style="text-align: center;">
                    </div>
                    <!-- <div class="col-md-1">
                        <div>
                            <label for="score" class="form-label">Score</label>
                            <input class="form-control" [(ngModel)]="score" name="score" placeholder="Enter score">
                        </div>
                    </div> -->
                    <div class="col-md-2">
                        <button type="button" (click)="removeInput(i)" class="btn btn-danger" style="margin-top: 30px; background: #be1b1e;">Delete</button>
                    </div>
                </div>
            </div>
          </form>
    </div>

</div>

<div class="modal-footer">
    <button *ngIf="listitem == null" (click)="add()" class="btn btn-primary" type="submit" style="background: #be1b1e; border: none;">SUBMIT</button>
    <button *ngIf="listitem != null" (click)="update()" class="btn btn-primary" type="submit" style="background: #be1b1e; border: none;">Update</button>
</div>


