.navbar .container-fluid .collapse .navbar-nav a{
    font-size: .9rem;
    color: #66615b;
    opacity: 0.7;
    
}
.navbar .container-fluid .collapse .navbar-nav li a.nav-link.active{
    color: #c73437;
}