.navbar .container-fluid .collapse .navbar-nav a{
    font-size: 12px;
    font-weight: 400;
    color: #66615b;
    opacity: 0.7;
    font-family: 'Montserrat, Helvetica Neue, Arial, sans-serif';
    
}
.navbar .container-fluid .collapse .navbar-nav li a.nav-link.active{
    color: #c73437;
}